.content {
    margin-top: 70px;
}


.ff {
    font-size: 15px;
}

.header {
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.left-title {
    width: 80px;
    color: #fff;
    font-size: 18px;
    float: left;
}
.right-title {
    width: 150px;
    text-align: right;
    float: right;
    color: #fff;
}
.quiz-body {
    margin-top: 20px;
    padding-bottom: 50px;
}
.option-block-container {
    margin-top: 20px;
    max-width: 420px;
}
.option-block {
    padding: 10px;
    background: aliceblue;
    border: 1px solid #84c5fe;
    margin-bottom: 10px;
    cursor: pointer;
}
.result-question {
    font-weight: bold;
}
.c-wrong {
    margin-left: 20px;
    color: #ff0000;
}
.c-correct {
    margin-left: 20px;
    color: green;
}
.last-row {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.res-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
#summary {
    margin-top: 20px;
}
##question-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#question-list button {
    width: 40px;
    height: 40px;
    margin-bottom: 10px; 
    display: inline-block;
    text-align: center;
    line-height: 40px; 
    padding: 0;
}

